* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body,
nav {
    padding: 0px;
    margin: 0px auto;
}

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: rgb(56, 53, 53)
}

.container-mark {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin: 5px;
    float: left;
    padding: 5px;
}

.container-menu {
    margin: 5px;
    float: right;
}

.container-menu ul {
    margin: 0px;
    padding: 0px;
    border: 0.5px solid gray;
    border-radius: 10px;
}

.container-menu li {
    padding: 5px;
    list-style-type: none;
    color: gray;
    background-color: transparent;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
}

.container-menu li:hover {
    transition: 1s ease-in-out;
    background-color: rgb(106, 106, 106);
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
}

.container-header>h1 {
    position: absolute;
    top: 49.5px;
    border: 1px solid blue;
    background-image: url(https://source.unsplash.com/EOoa3D1N0xc);
    background-repeat: no-repeat;
    background-size:contain;
    
}