*{
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
}

.price{
    color:blue;
    font-weight: bold;
}

table,td{
  border:1px solid green;
  width:220px;
  height:50px;
  text-align:center;
  border-collapse: collapse;
}

h1{
  color: red;
  font-size: 25px;
}

.hello1{
  color:yellowgreen;
  font-size: 45px;
}

div{
  color:green;
  font-size:18px;
}

span{
  color: gray;
  font-size: 30px;
}

.title{
  color: black;
  font-size: 35px;
}