/*@import属于CSS，只能加载CSS，等到页面都加载完成再被加载。  */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
/* 常用設定,設定最外層寬度(往內扣),可加框線看排版*/
* {
  box-sizing: border-box;
  /* overflow: auto; */
  /* border: 1px solid black; */
}
/* reset基本tag */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html,
nav,
article,
section,
div,
span {
  padding: 0px;
  margin: 0px;
}
.price {
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
table,
td {
  border: 1px solid green;
  width: 220px;
  height: 50px;
  text-align: center;
  border-collapse: collapse;
  margin: 3px;
  padding: 1px;
  text-align: left;
}
h1 {
  color: red;
  font-size: 25px;
}
.hello1 {
  color: yellowgreen;
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}
/* 可以先設定css 再至html設定class套用 */
.center {
  text-align: center;
  color: blueviolet;
  font-size: 1.5em;
  font-style: italic;
}
div {
  color: green;
  font-size: 18px;
}
span {
  color: #2292a7;
  font-size: 30px;
}
.title {
  color: black;
  font-size: 35px;
}
#article-1 {
  color: #ff6a00;
  font-family: "Noto Sans TC", sans-serif, serif;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.3;
}
/* 使用google font */
#article-2 {
  font-size: 1.5em;
  color: purple;
  font-family: "Hi Melody", cursive;
  font-style: oblique;
  word-spacing: 3px;
  letter-spacing: 2px;
}
.shadow {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 5px grey;
}
/* 超連結css設定須按順序 */
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  text-decoration: underline;
}
/* box 設定 區塊置中 */
.box {
  width: 200px;
  height: 200px;
  border: 10px solid black;
  padding: 10px;
  text-align: left;
  margin: auto;
  border-radius: 20px;
  background-color: #888;
}

.circle {
  border-radius: 50%;
}
a.click:link {
  color: green;
}
a.click:visited {
  color: white;
}
a.click:hover {
  color: firebrick;
}
a.click:active {
  font-size: 10px;
}
.click {
  padding: 3px;
  border-radius: 20px;
  background-color: turquoise;
  float: right;
}
.container {
  width: 1250px;
  margin: 5px 10px auto;
  padding: 0px;
  border: 1px solid black;
  background-color: rgb(236, 231, 231);
}
.container2 {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}
.container-flude {
  width: 100%;
  margin: 0 auto;
}
.container3 {
  width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
}
header {
  padding-top: 400px;
  padding-left: 20px;
  height: 500px;
  background-image: url(https://picsum.photos/1000/500?image=990);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.product {
  width: 33.33%;
  padding: 20px;
  float: left;
  box-shadow: 10px 10px 10px -5px;
  color: black;
}
/*選擇所有element1內的所有element2*/
.product .description p {
  color: red;
}
.thumbnail img {
  width: 100%;
}
.description {
  color: black;
}
.pokemon {
  width: 100px;
  height: 100px;
  margin: 20px;
  background-image: url("https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/montage-g1.jpg");
  float: left;
}
.pokemon.no2 {
  background-position: -240px -1920px;
}
.pokemon.no3 {
  background-position: -720px -2040px;
}
.test {
  color: #ff6a00;
  float: left;
  font-size: 30px;
}
div + p {
  color: darkred;
  font-size: 35px;
}
.divP ~ p {
  color: darkblue;
  font-size: 30px;
}
.title {
  font-size: 48px;
}
.title.important {
  color: red;
}
h2:first-child {
  color: rgb(190, 219, 59);
  border: 1px solid black;
}
.t1:nth-child(odd) {
  background: orange;
}
.t1:nth-child(even) {
  background: blue;
}
.t1:nth-child(3n-1) {
  background: green;
}
.t1:nth-child(3n + 1) {
  background: violet;
}
.t1:first-of-type {
  background: red;
}
tr:hover {
  color: white;
  background: gray;
}
.t2:only-child {
  background: goldenrod;
}
article:not(#article-2) {
  background: yellow;
}
.text::before {
  content: "before";
  background: red;
}
.text::after {
  content: "after";
  background: plum;
}
.text {
  background: palegoldenrod;
}
li {
  height: 40px;
}

.school[href*="nt"] {
  border: 2px solid red;
  padding: 10px;
}

.school[href^="https"] {
  border: 2px solid green;
  padding: 10px;
}

.school[href$=".pdf"] {
  background: gray;
  padding: 10px;
}

#box3 {
  border: 3px solid blueviolet;
}

div[id^="box"] {
  border: 1px solid gray;
  width: 200px;
  height: 100px;
}
#box1 {
  overflow: auto;
}

#box2 {
  overflow: scroll;
}

#box4 {
  overflow: hidden;
}

footer {
  background: palevioletred;
  height: 60px;
  padding: 10px;
}

.header{
  height: 10%;
  border:1px solid blue;
}

.box7{
  width: 500px;
  height: 500px;
  border:2px solid black;
}

.container25{
  width: 25%;
  height: 80%;
  border:1px solid blue;
  padding: 2%;
  float: left;
}

.container75{
  width: 75%;
  height: 80%;
  border:1px solid blue;
  padding: 2%;
  float: left;
}

.content{
  width:100%;
  height:100%;
  border:1px solid blue;
  text-align: center;
}

.footer{
  height: 10%;
  border:1px solid blue;
  float: left;
  width: 100%;
  padding-left: 10px;
}







